absl-py==1.3.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==22.2.0
backcall==0.2.0
bleach==4.1.0
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.12
cvbase==0.5.5
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.4
google-auth==2.14.1
google-auth-oauthlib==0.4.6
grpcio==1.48.2
idna==3.4
imageio==2.6.1
imageio-ffmpeg==0.4.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.2
jedi==0.17.2
Jinja2==3.0.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
kiwisolver==1.3.1
lpips==0.1.4
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.1.1
mistune==0.8.4
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.6
networkx==2.5.1
notebook==6.4.10
numpy==1.19.5
nvidia-ml-py==11.515.75
nvitop==0.11.0
oauthlib==3.2.2
opencv-python==4.1.1.26
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2022.7
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.17.2
scipy==1.3.1
Send2Trash==1.8.0
setproctitle==1.2.3
six==1.16.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
termcolor==1.1.0
terminado==0.12.1
terminaltables==3.1.10
testpath==0.6.0
thop==0.1.1.post2209072238
tifffile==2020.9.3
torch==2.0.0+cu117
torchmetrics==0.10.3
torchstat==0.0.7
torchvision==0.15.0+cu117
tornado==6.1
tqdm==4.28.1
traitlets==4.3.3
typing_extensions==4.1.1
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.6.1
zipp==3.6.0